.app{    
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1{
  text-align: center;
  margin: 2rem 0;
}
.colorSquare{
  width: 200px;
  height: 200px;
  background-color: #48fea9;
  border: 0.2rem solid grey
}
/*Clases auxiliares*/

/*React color picker*/

